# Node.js modules
/node_modules/

# Logs
*.log
npm-debug.log*

# Environment files
.env

# Build output
/dist
/build

# System files
.DS_Store  # macOS
Thumbs.db  # Windows

# IDE or editor folders
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
